@model ApplicationUser



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.Email</p>
<p>@Model.UserName</p>

@*@foreach(var course in Model.Courses!)
{
    
    <p>@course.CourseName</p>

}
*@



